<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    </configSections>
  <connectionStrings>
    <add name="TestDbContext" connectionString="server=.;Initial catalog=Gyt.TestDatas;integrated security=sspi;" providerName="System.Data.SqlClient" />
    <add name="GytDbContext" connectionString="server=.;Initial catalog=Gyt.CoreDb;integrated security=sspi;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>