@{
    var exception = ViewBag.Exception as Exception;
    ViewBag.ActiveId = 0;
}

<div class="row">
        @if (exception != null)
        {
            <div class="alert alert-block alert-danger">
                <i class="icon-info-sign icon-2x danger"></i>
                @Html.Raw(exception.Message)
            </div>
        }
</div>