@using Zer.Framework.Extensions
@{
}

<div class="row">
    @{
        var msg = (string)ViewBag.ErrorMessage;
        
        <h3>
            @if (msg.IsNullOrEmpty())
            {
                <i>未知异常</i>
            }
            else
            {
                <i>@msg.UrlDecode()</i>
            }
        </h3>

       
    }
</div>