@using Zer.Framework.Exception
@{
    var exception = ViewBag.Exception as Exception;
    Layout = null;
}

<div class="row">
        @if (exception != null)
        {
            <h2> @Html.Raw(exception.Message)</h2>
        }
</div>