
@{
    ViewBag.Title = "SuccessInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="header smaller lighter green">
    <i class="icon-bullhorn"></i>
    审查结果
</h3>
<form class="form-horizontal" role="form">

    <div id="fail">
        <div class="alert alert-danger">
            <strong>
                <i class="icon-remove"></i>
                规则A:
            </strong>

            原企业名下车辆有超限超载违法记录！
            <br>
        </div>
        <div class="alert alert-danger">
            <strong>
                <i class="icon-remove"></i>
                规则A:
            </strong>

            申办企业名下车辆有超限超载违法记录！
            <br>
        </div>
        <div class="alert alert-danger">
            <strong>
                <i class="icon-remove"></i>
                规则B:
            </strong>

            原车牌号已经进行过一次更换港运通!
            <br>
        </div>
        <div class="alert alert-danger">
            <strong>
                <i class="icon-remove"></i>
                规则B:
            </strong>

            车辆年审不符合要求！
            <br>
        </div>
        <div class="alert alert-danger">
            <strong>
                <i class="icon-remove"></i>
                规则A:
            </strong>

            公司名下车辆有超限超载违法记录！
            <br>
        </div>

    </div>
    <div id="success">
        <div class="alert alert-success">
            <strong>
                <i class="icon-ok"></i>
                规则A:
            </strong>

            申办企业名下车辆无超限超载违法记录！
            <br>
        </div>


        <div class="alert alert-success">
            <strong>
                <i class="icon-ok"></i>
                规则B:
            </strong>

            车辆年审符合要求！
            <br>
        </div>
        <div class="alert alert-success">
            <strong>
                <i class="icon-ok"></i>
                规则A:
            </strong>

            原企业名下车辆无超限超载违法记录！
            <br>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 申办车牌号: </label>

            <div class="col-sm-9">
                <input type="text" id="form-field-1" placeholder="请输入申办车牌号" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="clearfix form-actions">
            <div class="col-md-offset-5 col-md-9">
                <button class="btn btn-info" type="button">
                    <i class="icon-indent-right bigger-110"></i>
                    保存
                </button>
            </div>
        </div>
    </div>

</form>
        
@section scripts{
    <script type="text/javascript">
        $(document)
            .ready(function() {
                // 现在这不是以一个ASP.NET 网站运行的，你不能用这种获取方式，先不要做这个处理。
                // 这只是给客户看的代码，没必要写到这个程度
                // 能够有个样子就行了。没必要做到结果完全正确。
                var result = getUrlParam("result");
                if (result === "true") {
                    $("#success").show();
                    $("#fail").hide();
                } else {
                    $("#success").hide();
                    $("#fail").show();
                }
            });

        function getUrlParam(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
            var r = window.location.search.substr(1).match(reg); //匹配目标参数
            if (r != null) return unescape(r[2]);
            return null; //返回参数值
        }
</script>

}

