@{
    ViewBag.Title = "AccountInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var userInfo = ViewBag.UserInfo as UserInfoDto;
}

<h3 class="header smaller lighter blue">用户详情</h3>

<div class="profile-user-info profile-user-info-striped">
    <div class="profile-info-row">
        <div class="profile-info-name"> 用户编号 </div>

        <div class="profile-info-value">
            <span>@userInfo.UserId</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 用户名 </div>

        <div class="profile-info-value">
            <span>@userInfo.UserName</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 用户姓名 </div>

        <div class="profile-info-value">
            <span>@userInfo.DisplayName</span>
        </div>
    </div>

    <div class="profile-info-row">
        <div class="profile-info-name"> 用户状态 </div>

        <div class="profile-info-value">
            <span>@userInfo.State</span>
        </div>
    </div>
</div>


