@using System.Diagnostics
@using Zer.GytDto.UserInfo

@{
    ViewBag.Title = "AccountManage";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var userInfoList = ViewBag.UserInfoList as List<UserInfoDto>;
}

    <h3 class="header smaller lighter blue">帐号管理</h3>

    <div class="table-header">

        <div class="visible-sm visible-md hidden-sm hidden-xs action-buttons">
            <a class="white" href="#">
                <i class="icon-plus-sign bigger-110">
                    <span class="">新增用户</span>
                </i>
            </a>

            <a class="white" href="#">
                <i class="icon-edit bigger-110">
                    <span class="">编辑用户</span>
                </i>
            </a>

            <a class="white" href="#">
                <i class="icon-lock bigger-110">
                    <span class="">冻结用户</span>
                </i>
            </a>
        </div>

    </div>

    <div class="table-responsive">
        <table id="sample-table-2" class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th class="center">
                        <label>
                            <input type="checkbox" class="ace">
                            <span class="lbl"></span>
                        </label>
                    </th>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>用户姓名</th>
                    <th>邮箱</th>
                    <th>联系方式</th>
                    <th>状态</th>
                    <th>角色</th>
                    <th>创建日期</th>
                    <!--link to log detail page, to view the logs with user-->
                    <th>详细信息</th>
                </tr>
            </thead>

            <tbody>

            @{
                Debug.Assert(userInfoList != null, "userInfoList != null");
            }

            <tr>
                <td class="center">
                    <label>
                        <input type="checkbox" class="ace">
                        <span class="lbl"></span>
                    </label>
                </td>
                <td>0001</td>
                <td>
                    <a href="javascript:();">
                        admin
                    </a>
                </td>

                <td>
                    张三
                </td>
                <td>1234567@qq.com</td>
                <td>
                    13888888888
                </td>
                <td>
                    <span class="label label-sm label-success">正常</span>
                </td>
                <td>
                    <span class="label label-sm label-success">超级管理员</span>
                </td>
                <td>2017/06/25</td>
                <td class="hidden-480">
                    <a href="javascript:();">
                        详情
                    </a>
                </td>
            </tr>

            </tbody>
        </table>

        <div class="row">
            <div class="col-sm-12">
                <div class="dataTables_paginate padding-10">
                    <ul class="pagination">
                        <li class="prev disabled">
                            <a href="#">
                                <i class="icon-double-angle-left"></i>
                            </a>
                        </li>
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li class="next">
                            <a href="#">
                                <i class="icon-double-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
