
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="header smaller lighter blue">修改密码</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="btn_CurrentPassword"> 当前密码: </label>

                    <div class="col-sm-8">
                        <input type="password" id="btn_CurrentPassword" placeholder="请输入当前密码" class="col-xs-10 col-sm-5">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="display: none;color: red" id="sp_CurrentPassword">输入错误提示</span>
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="btn_NewPassword"> 修改密码: </label>

                    <div class="col-sm-8">
                        <input type="password" id="btn_NewPassword" placeholder="请输入修改后密码" class="col-xs-10 col-sm-5">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="display: none;color: red" id="sp_NewPassword">输入错误提示</span>
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-4 control-label no-padding-right" for="btn_NewPasswordAgain"> 再次输入: </label>

                    <div class="col-sm-8">
                        <input type="password" id="btn_NewPasswordAgain" placeholder="请再次输入修改后密码" class="col-xs-10 col-sm-5">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="display: none;color: red" id="sp_NewPasswordAgain">输入错误提示</span>
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-4 col-md-9">
                        <button class="btn btn-info" type="button" id="btn_Save">
                            <i class="icon-ok bigger-110"></i>
                            保存
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            清空
                        </button>
                    </div>
                </div>
            </form>

<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-success">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title __dialog_title" id="myModalLabel">
                    修改密码提示
                </h4>
            </div>
            <div class="modal-body __dialog_content">
                <h5>密码修改成功</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info __modal_confirmed">
                    确认
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

@section scripts
{
    <script src="@Url.Content("~")assets/js/md5.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $("body")
                .on("click",
                    "#btn_Save",
                    function() {
                        var currentPassword = $("#btn_CurrentPassword").val();
                        var newPassword = $("#btn_NewPassword").val();
                        var newPasswordAgain = $("#btn_NewPasswordAgain").val();

                        if (currentPassword === "") {
                            showSpan($("#sp_CurrentPassword"), "请输入当前密码");
                            return;
                        }

                        hideSpan($("#sp_CurrentPassword"));

                        if (newPassword === "") {
                            showSpan($("#sp_NewPassword"), "请输入新密码");
                            return;
                        }

                        hideSpan($("#sp_NewPassword"));

                        if (currentPassword === "") {
                            showSpan($("#sp_NewPasswordAgain"), "请输入再次输入新密码");
                            return;
                        } else {
                            if (currentPassword.length < 6) {
                                showSpan($("#sp_NewPasswordAgain"), "密码长度不能小于6位");
                                return;
                            }
                        }

                        hideSpan($("#sp_NewPasswordAgain"));

                        if (newPassword !== newPasswordAgain) {
                            showSpan($("#sp_NewPasswordAgain"), "两次输入不一致");
                            return;
                        }

                        hideSpan($("#sp_NewPasswordAgain"));


                        save(newPassword, currentPassword);
                    })
                .on("click",
                    ".__modal_confirmed",
                    function() {
                        $('#myModal').modal("hide");
                    });

            function showSpan(sapn, msg) {
                sapn.css("display", "");
                sapn.html(msg);
            }

            function hideSpan(sapn) {
                sapn.css("display", "none");
            }

            function save(newPassword, currentPassword) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ChangePasswrod", "User")",
                    data: { newPassword: hex_md5(newPassword), currentPassword: hex_md5(currentPassword) },
                    dataType: "json",
                    success: function(data) {
                        if (data.C === 901) {
                            $('#myModal').modal("show");
                        } else if (data.C === 801) {
                            $('.__dialog_content').html("<h5>密码修改失败：" + data.msg + "</h5>");

                            $('#myModal').modal("show");
                        }
                    }
                });
            }
        })
    </script>>
}
