
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3 class="header smaller lighter blue">修改密码</h3>
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="btn_CurrentPassword"> 当前密码: </label>

                    <div class="col-sm-9">
                        <input type="password" id="btn_CurrentPassword" placeholder="请输入当前密码" class="col-xs-10 col-sm-5">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="display: none;color: red" id="sp_CurrentPassword">输入错误提示</span>
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="btn_NewPassword"> 修改密码: </label>

                    <div class="col-sm-9">
                        <input type="password" id="btn_NewPassword" placeholder="请输入修改后密码" class="col-xs-10 col-sm-5">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="display: none;color: red" id="sp_NewPassword">输入错误提示</span>
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="btn_NewPasswordAgain"> 再次输入: </label>

                    <div class="col-sm-9">
                        <input type="password" id="btn_NewPasswordAgain" placeholder="请再次输入修改后密码" class="col-xs-10 col-sm-5">
                        <span class="help-inline col-xs-12 col-sm-7">
                            <span class="middle" style="display: none;color: red" id="sp_NewPasswordAgain">输入错误提示</span>
                        </span>
                    </div>
                </div>

                <div class="space-4"></div>
                <div class="clearfix form-actions">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-info" type="button" id="btn_Save">
                            <i class="icon-ok bigger-110"></i>
                            保存
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            清空
                        </button>
                    </div>
                </div>
            </form>

@section scripts
{
    <script src="@Url.Content("~")assets/js/md5.min.js"></script>

    <script type="text/javascript">
        $(function() {
            $("#btn_Save")
                .click(function() {
                    var currentPassword = $("#btn_CurrentPassword").val();
                    var newPassword = $("#btn_NewPassword").val();
                    var newPasswordAgain = $("#btn_NewPasswordAgain").val();

                    if (currentPassword === "") {
                        showSpan($("#sp_CurrentPassword"), "请输入当前密码");
                        return;
                    }

                    hideSpan($("#sp_CurrentPassword"));

                    if (newPassword === "") {
                        showSpan($("#sp_NewPassword"), "请输入新密码");
                        return;
                    }

                    hideSpan($("#sp_NewPassword"));

                    if (currentPassword === "") {
                        showSpan($("#sp_NewPasswordAgain"), "请输入再次输入新密码");
                        return;
                    }

                    hideSpan($("#sp_NewPasswordAgain"));

                    if (newPassword !== newPasswordAgain) {
                        showSpan($("#sp_NewPasswordAgain"), "两次输入不一致");

                    }

                    hideSpan($("#sp_NewPasswordAgain"));


                    save(newPassword, currentPassword);
                });
        });

        function showSpan(sapn, msg) {
            sapn.css("display", "");
            sapn.html(msg);
        }

        function hideSpan(sapn) {
            sapn.css("display", "none");
        }

        function save(newPassword, currentPassword) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("ChangePassword")",
                data: { newPassword: hex_md5(newPassword), currentPassword: hex_md5(currentPassword) },
                dataType: "json",
                success: function(data) {
                    alert("您已成功修改密码！");
                },
                error: function (msg) {
                    console.log(msg);
                    //alert(msg);
                }
            });
        }

    </script>>
}
