@using Castle.Core.Internal
@using Zer.GytDto

@{
    var CompanyList = ViewBag.CompanyList as List<CompanyInfoDto>;
}


<form class="form-horizontal" role="form">
    <div id="gas">

        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 企业名称: </label>
            <div class="col-sm-9">
                @if (!CompanyList.IsNullOrEmpty())
                {
                    <select>
                        @foreach (var companyInfo in CompanyList)
                        {
                            <option value="@companyInfo.Id">@companyInfo.CompanyName</option>
                        }
                    </select>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 批次: </label>
            <div class="col-sm-9">
                <input type="text" id="form-field-2" placeholder="请输入批次" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-3"> 车牌号: </label>
            <div class="col-sm-9">
                <input type="text" id="form-field-3" placeholder="请输入车牌号" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-4"> 发动机号: </label>
            <div class="col-sm-9">
                <input type="text" id="form-field-4" placeholder="请输入发动机号" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-5"> 气瓶1编号: </label>
            <div class="col-sm-9">
                <input type="text" id="form-field-5" placeholder="请输入气瓶1编号" class="col-xs-10 col-sm-5">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label no-padding-right" for="form-field-6"> 气瓶2编号: </label>
            <div class="col-sm-9">
                <input type="text" id="form-field-6" placeholder="请输入气瓶2编号" class="col-xs-10 col-sm-5">
            </div>
        </div>
    </div>
</form>
<div class="clearfix form-actions">
    <div class="col-md-offset-5 col-md-9">
        <a class="btn btn-info" id="submit" href="LNGSubsidyInfoList.html">
            <i class="icon-indent-right bigger-110"></i>
            保存
        </a>
    </div>
</div>

@section scripts{
    <script>
        $(function() {
            alert("ok");
        })
    </script>
}

