
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12 infobox-container">

        <div class="infobox infobox-green">
            <div class="infobox-icon">
                <i class="icon-credit-card"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">29800</span>
                <div class="infobox-content">港运通总量</div>
            </div>
        </div>

        <div class="infobox infobox-green2  ">
            <div class="infobox-icon">
                <i class="icon-wrench"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">11</span>
                <div class="infobox-content">本月整改完成</div>
            </div>

            <div class="badge badge-success">
                +32%
                <i class="icon-arrow-up"></i>
            </div>
        </div>

        <div class="infobox infobox-pink  ">
            <div class="infobox-icon">
                <i class="icon-camera"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">30</span>
                <div class="infobox-content">本月违法记录</div>
            </div>
            <div class="stat stat-important">4%</div>
        </div>

        <div class="infobox infobox-red  ">
            <div class="infobox-icon">
                <i class="icon-bookmark"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">212</span>
                <div class="infobox-content">本月受理申请</div>
            </div>
        </div>

        <div class="infobox infobox-orange2  ">
            <div class="infobox-icon">
                <i class="icon-download-alt"></i>
            </div>

            <div class="infobox-data">
                <span class="infobox-data-number">200</span>
                <div class="infobox-content">本月完成办理</div>
            </div>

            <div class="badge badge-success">
                7.2%
                <i class="icon-arrow-up"></i>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-6 ui-sortable">
        <div class="widget-box">
            <div class="widget-header header-color-red">
                <h5 class="bigger lighter">
                    <i class="icon-table"></i>
                    待办申请
                </h5>

            </div>

            <div class="widget-body">
                <div class="widget-main no-padding">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thin-border-bottom">
                            <tr>
                                <th>
                                    <i class="icon-suitcase"></i>
                                    申办公司
                                </th>

                                <th>
                                    申办车牌
                                </th>
                                <th class="hidden-480">审查状态</th>
                                <th class="hidden-480"></th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <i class="icon-suitcase"></i>
                                    深圳市XXX物流有限公司
                                </td>

                                <td>
                                    <span class="label label-sm label-info">粤BB0888</span>
                                </td>
                                <td class="hidden-480">
                                    <span class="label label-success arrowed-in-right">
                                        <i class="icon-ok">通过</i>
                                    </span>
                                </td>
                                <td class="hidden-480">
                                    <a class="btn btn-minier btn-success" href="javascript:;">办理</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="icon-suitcase"></i>
                                    深圳市XXX物流有限公司
                                </td>

                                <td>
                                    <span class="label label-sm label-info">粤BB0888</span>
                                </td>
                                <td class="hidden-480">
                                    <span class="label label-success arrowed-in-right">
                                        <i class="icon-ok">通过</i>
                                    </span>
                                </td>
                                <td class="hidden-480">
                                    <a class="btn btn-minier btn-success" href="javascript:;">办理</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="icon-suitcase"></i>
                                    深圳市XXX物流有限公司
                                </td>

                                <td>
                                    <span class="label label-sm label-info">粤BB0888</span>
                                </td>
                                <td class="hidden-480">
                                    <span class="label label-success arrowed-in-right">
                                        <i class="icon-ok">通过</i>
                                    </span>
                                </td>
                                <td class="hidden-480">
                                    <a class="btn btn-minier btn-success" href="javascript:;">办理</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="icon-suitcase"></i>
                                    深圳市XXX物流有限公司
                                </td>

                                <td>
                                    <span class="label label-sm label-info">粤BB0888</span>
                                </td>
                                <td class="hidden-480">
                                    <span class="label label-success arrowed-in-right">
                                        <i class="icon-ok">通过</i>
                                    </span>
                                </td>
                                <td class="hidden-480">
                                    <a class="btn btn-minier btn-success" href="javascript:;">办理</a>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <i class="icon-suitcase"></i>
                                    深圳市XXX物流有限公司
                                </td>

                                <td>
                                    <span class="label label-sm label-info">粤BB0888</span>
                                </td>
                                <td class="hidden-480">
                                    <span class="label label-success arrowed-in-right">
                                        <i class="icon-ok">通过</i>
                                    </span>
                                </td>
                                <td class="hidden-480">
                                    <a class="btn btn-minier btn-success" href="javascript:;">办理</a>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div id="container" style="min-width:280px;height:280px"></div>
    </div>
</div>

<div class="row">
<div class="col-xs-12 col-sm-6 ui-sortable">
    <div class="widget-box">
        <div class="widget-header header-color-blue">
            <h5 class="bigger lighter">
                <i class=" icon-search"></i>
                审查记录
            </h5>

        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                    <tr>
                        <th>
                            <i class="icon-eye-open"></i>
                            申办批次
                        </th>

                        <th>
                            审查企业
                        </th>
                        <th>审查车辆</th>
                        <th class="hidden-480">Status</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <i class="icon-eye-open"></i>
                            102302
                        </td>

                        <td>
                            深圳市XXX物流有限公司
                        </td>
                        <td><span class="label label-sm label-info">粤BB0888</span></td>
                        <td class="hidden-480">
                            <span class="label label-sm label-danger">
                                        <i class="icon-ban-circle"> 未通过</i>
                                    </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="icon-eye-open"></i>
                            102302
                        </td>

                        <td>
                            深圳市XXX物流有限公司
                        </td>
                        <td><span class="label label-sm label-info">粤BB0888</span></td>
                        <td class="hidden-480">
                            <span class="label label-sm label-danger">
                                        <i class="icon-ban-circle"> 未通过</i>
                                    </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-eye-open"></i>
                            102302
                        </td>

                        <td>
                            深圳市XXX物流有限公司
                        </td>
                        <td><span class="label label-sm label-info">粤BB0888</span></td>
                        <td class="hidden-480">
                            <span class="label label-sm label-danger">
                                        <i class="icon-ban-circle"> 未通过</i>
                                    </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <i class="icon-eye-open"></i>
                            102302
                        </td>

                        <td>
                            深圳市XXX物流有限公司
                        </td>
                        <td><span class="label label-sm label-info">粤BB0888</span></td>
                        <td class="hidden-480">
                            <span class="label label-sm label-danger">
                                        <i class="icon-ban-circle"> 未通过</i>
                                    </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="icon-eye-open"></i>
                            102302
                        </td>

                        <td>
                            深圳市XXX物流有限公司
                        </td>
                        <td><span class="label label-sm label-info">粤BB0888</span></td>
                        <td class="hidden-480">
                            <span class="label label-sm label-danger">
                                        <i class="icon-ban-circle"> 未通过</i>
                                    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-sm-6 ui-sortable">
    <div class="widget-box">
        <div class="widget-header header-color-dark">
            <h5 class="bigger lighter">
                <i class="icon-legal"></i>
                待整改车辆
            </h5>

        </div>

        <div class="widget-body">
            <div class="widget-main no-padding">
                <table class="table table-striped table-bordered table-hover">
                    <thead class="thin-border-bottom">
                    <tr>
                        <th>
                            <i class="icon-truck"></i>
                            车牌号
                        </th>

                        <th>
                            所属公司
                        </th>
                        <th class="hidden-480">违法记录</th>
                        <th class="hidden-480">处理进度</th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>
                            <i class="icon-truck"></i>
                            粤BB0281
                        </td>

                        <td>
                            深圳市XXX运输公司
                        </td>
                        <td class="hidden-480">
                            <a class="btn btn-minier btn-link" href="#">2次违法记录</a>
                        </td>
                        <td class="hidden-480">
                            <span class="label label-warning">已通知</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="icon-truck"></i>
                            粤BB0281
                        </td>

                        <td>
                            深圳市XXX运输公司
                        </td>
                        <td class="hidden-480">
                            <a class="btn btn-minier btn-link" href="#">2次违法记录</a>
                        </td>
                        <td class="hidden-480">
                            <span class="label label-danger">已记录</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="icon-truck"></i>
                            粤BB0281
                        </td>

                        <td>
                            深圳市XXX运输公司
                        </td>
                        <td class="hidden-480">
                            <a class="btn btn-minier btn-link" href="#">2次违法记录</a>
                        </td>
                        <td class="hidden-480">
                            <span class="label label-danger">已记录</span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <i class="icon-truck"></i>
                            粤BB0281
                        </td>

                        <td>
                            深圳市XXX运输公司
                        </td>
                        <td class="hidden-480">
                            <a class="btn btn-minier btn-link" href="#">2次违法记录</a>
                        </td>
                        <td class="hidden-480">
                            <span class="label label-success">已整改</span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            $('#container').highcharts({
                credits: {
                    enabled: false
                },
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false
                },
                title: {
                    text: '行业分布占比',
                    floating: true,
                    align: 'right',
                    x: 0,
                    y: 50
                },
                legend: {
                    align: 'right',
                    verticalAlign: 'top',
                    layout: 'vertical',
                    x: 0,
                    y: 100
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    type: 'pie',
                    name: '行业分布占比',
                    data: [
                        ['普通货运', 45.0],
                        ['货物专用运输（罐式）', 11],
                        ['货物专用运输（集装箱）', 44]
                    ]
                }]
            });
        });

</script>

}


